
<div class="card space" style="width:50rem;">
    <form class="form-group">
    <label for="id">Id</label>
    <input class="form-control" type="text" name= "id" [(ngModel)]='comment.id'>

    <label for="name">name</label>
    <input class="form-control" type="text" name= "name" [(ngModel)]='comment.name'>

    <label for="email">email</label>
    <input class="form-control" type="text" name= "email"[(ngModel)]= 'comment.email'>   

    <label for="body">body</label>
    <input class="form-control" type="text" name= "body" [(ngModel)]='comment.body'> 
        
    </form> 
    <button class="btn btn-primary" (click)= "commentAdding()">Add</button>
  </div>