<!-- <button (click)="ngOnDestroy()" > offline </button>

 <input name = " course" type="text" #course  (keyup.enter)= "add(course)" >
<div *ngFor = ' let course of courses$ | async'> 
  {{course}} 
  <button (click) = "Update(course)">Update</button> 
  <button (click) = "Remove(course)">Delete</button>

</div> 
<div *ngFor= ' let author of  authors$ | async'> 
  {{author}} 


</div> 

<p>
  {{courses$ | async | json}}
</p>

<p>
  {{authors$ | async | json}}
</p> 
<ul *ngIf = " authors$  | async as author"> 
  <li>{{author.name}}</li> 
  <li>{{author.phone}}</li>
  <li>{{author.book}}</li>

</ul> 
 -->





<app-fire-test></app-fire-test>